<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/MovieVault.css">
    <title>MovieVault</title>
</head>
<body>
    <div class="full_body">
        <div class="title">
            MovieVault
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search" class="form-input" id="search-input">
            <button type="submit" class="search">Search</button>
        </div>
    </div>
    <div class="movie-cards"></div>
    <footer>
        <p>&copy; 2023 MovieVault. All rights reserved.</p>
    </footer>
    <script type="text/javascript" src="../javascript/MovieVault.js"></script>
</body>
</html>
